<nav class="bg-indigo-700 text-white px-6 py-4 shadow flex justify-between items-center sticky top-0 z-50" style="width:100vw;left:0;right:0;top:0;box-sizing:border-box;">
  <div class="font-bold text-xl" style="margin-right: 20px; width: 150px;">
    <a href="./landing.html" class="hover:underline">
          My Portfolio
    </a>
</div>
  <ul class="flex space-x-6">
    <li><a href="./go_project.html" class="hover:underline">Go Service Queue Project</a></li>
    <li><a href="./card_sorter_landing.html" class="hover:underline">OCR and Image Hash Comparison in Python</a></li>
    <li><a href="./open-ai-home-assistant.html" class="hover:underline">OpenAI Function Calling</a></li>
    <li><a href="./mtg_chess_clock_landing.html" class="hover:underline">MTG Chess Clock</a></li>
    <li><a href="./wallCode_landing.html" class="hover:underline">Programmable Climbing Wall</a></li>
  </ul>
</nav>
